---
import Loader from '../../components/Loader.astro';
export const prerender = false;
const { id } = Astro.params;
import MascotaCard from '../../components/MascotaCard.astro';
import Layout from '../../layouts/Layout.astro';
console.log(id);
---

<Layout title='Mascota'>
    <div class="flex justify-center">
        <MascotaCard idMascot={id}/>
    </div>
</Layout>

