---
import Loader from '../../components/Loader.astro';
export const prerender = false;
const { mascot } = Astro.params;
let loading = true;
const data = await fetch(`https:/dog.ceo/api/breeds/image/${mascot}`).then((res) => res.json());
loading = false;
import MascotaCard from '../../components/MascotaCard.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Mascota'>
    <div class="flex justify-center">
        <MascotaCard />
    </div>
</Layout>

