---
import './Reviews.css';
---
<section>
    <h2>La opinión la gente de nosotros</h2>

    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <ul class="carousel">
          <li class="card">
            <div class="img"><img src="images/img-1.jpg" alt="img" draggable="false"></div>
            <h2>Geronimo Sanchez</h2>
          </li>
          <li class="card">
            <div class="img"><img src="images/img-2.jpg" alt="img" draggable="false"></div>
            <h2>Gisela Cancelo</h2>
          </li>
          <li class="card">
            <div class="img"><img src="images/img-3.jpg" alt="img" draggable="false"></div>
            <h2>Lariach French</h2>
          </li>
          <li class="card">
            <div class="img"><img src="images/img-4.jpg" alt="img" draggable="false"></div>
            <h2>James Khosravi</h2>
          </li>
          <li class="card">
            <div class="img"><img src="images/img-5.jpg" alt="img" draggable="false"></div>
            <h2>Kristina Zasiadko</h2>
          </li>
          <li class="card">
            <div class="img"><img src="images/img-6.jpg" alt="img" draggable="false"></div>
            <h2>Donald Horton</h2>
          </li>
        </ul>
        <i id="right" class="fa-solid fa-angle-right"></i>
      </div>
</section>