<header class="bg-primary  py-3 px-2">
    <div class="w-full max-w-[1400px] flex justify-between items-center mx-auto">
        <h2>APP MASCOTAS</h2>
        <nav>
            <ul class="flex gap-4 font-semibold">
                <li><a href="/">Inicio</a></li>
                <li><a href="/contact">Contacto</a></li>
                <li><a href="/about">Perfil</a></li>
            </ul>
        </nav>
        <button class="bg-secondary text-white px-8 py-2 rounded-[2rem] font-semibold">
            Iniciar sesión
        </button>
    </div>
</header>

