---

---

<section>
    <div class="hero">
        <h2>
            <span>Hi, I'm</span>
            <span>John Doe</span>
            <span>Web Developer</span>
        </h2>
        <p>
            I'm a web developer based in New York, specializing in building (and occasionally designing) exceptional websites, applications, and everything in between.
        </p>
    </div>
</section>