---
import './Footer.css'
---
<footer class="footer">
        <div class="container">
            <div class="footer-row">
                
                <div class="footer-links">
                    <h4>¿Cómo te podemos ayudar?</h4>
                    <ul>
                        <li><a href="#">Adoptar una mascota</a></li>
                        <li><a href="#">Dar en adopción una mascota</a></li>
                    </ul>
                </div>
                    <div class="footer-links"> 
                        <h4>Contáctanos</h4>
                    <ul>
                        <li><a href="#">Preguntas frecuentas</a></li>
                        <li>Calle sin número 123, Argentina</li>
                        <li>Nro de Télefono: +54 351123456</li>
                        <li>E-mail: nombre@gmail.com</li>
                    </ul>
                </div>
                    <div class="footer-links">
                    <h4>Mantente en contacto con nosotros</h4>
                    <div class="buttons">
                        <a href="#" class="btn btn-1">Dirección de E-Mail</a>
                        <a href="#" class="btn btn-2">Suscribite</a>
                    </div>
                    </div>
                    <br>
                    <div class="footer-links">
                    <div class="social-links">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </footer>