---
import Image from 'astro/components/Image.astro';
import HumansAndAnimalsImage from '../../assets/HumansAndAnimals.png';
---
<section>
    <h2 class="text-center font-semibold text-3xl">Humanos y Animales</h2>
    <h3 class="text-center font-semibold text-xl text-tertiary">Una Relacion Especial</h3>
    <p class="py-4">La relación entre humanos y animales es única y profundamente significativa. Adoptar un perro no solo cambia la vida del animal, sino también la del humano. Esta conexión se basa en la lealtad, el amor incondicional y la compañía que los perros brindan. Aquí te contamos por qué esta relación es tan especial, cómo puede transformar tu vida y qué beneficios trae tanto para ti como para tu nuevo amigo peludo.</p>
    <Image src={HumansAndAnimalsImage} alt="Humans and Animals" class="w-full"/>
    <div class="flex flex-col lg:flex-row mt-20 gap-x-14">
        <div>
            <h2 class="font-bold text-2xl py-4">Beneficios para los Perros</h2>
            <div class="flex flex-col gap-y-6 border-[2px] rounded-2xl border-primary p-4 py-6">
                <h4 class="text-center text-tertiary font-semibold text-lg">Un Hogar Amoroso</h4>
                <p class="text-center">Al adoptar un perro, le das un hogar lleno de amor y seguridad. Muchos perros en refugios han tenido experiencias difíciles y una adopción les ofrece una nueva oportunidad para ser felices</p>
                <h4 class="text-center text-tertiary font-semibold text-lg">Vínculo Emocional</h4>
                <p class="text-center">Los perros son animales sociales que forman fuertes lazos con sus dueños. Al ser adoptados, experimentan un profundo sentido de pertenencia y amor</p>
            </div>
        </div>    
        <div>
            <h2 class="font-bold text-2xl py-4">Beneficios para los Humanos</h2>
            <div class="flex flex-col gap-y-6 border-[2px] rounded-2xl border-primary p-4 py-6">
                <h4 class="text-center text-tertiary font-semibold text-lg">Compañía y Amor Incondicional</h4>
                <p class="text-center">Los perros ofrecen una compañía constante y un amor incondicional. Tener un perro significa tener siempre un amigo leal a tu lado, dispuesto a compartir tus alegrías y consolarte en los momentos difíciles</p>
                <h4 class="text-center text-tertiary font-semibold text-lg">Mejora de la Salud Mental</h4>
                <p class="text-center">Estudios han demostrado que tener una mascota puede reducir el estrés, la ansiedad y la depresión. El simple acto de acariciar a un perro puede liberar hormonas que nos hacen sentir bien, como la oxitocina.</p>
            </div>
        </div>    
    </div>
</section>