---
// export const prerender = true;
import Layout from '../layouts/Layout.astro';
import Hero from '../components/LandingPage/Hero.astro';
import SectionHumanAndAnimals from '../components/LandingPage/SectionHumanAndAnimals.astro';
import Reviews from '../components/LandingPage/Reviews/Reviews.astro';
import CarouselMascots from '../components/LandingPage/CarouselMascots.astro';
---

<Layout title="Welcome to Astro.">
	<main class="w-full mx-auto max-w-[1400px] px-4 lg:px-0">
		<Hero />
		<CarouselMascots />
		<SectionHumanAndAnimals />
		<Reviews />
	</main>
</Layout>
