---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Welcome to Astro.">
	<main class="w-full mx-auto max-w-[1200px]">
		<Hero />
	</main>
</Layout>
