---
import AuthLayout from '../layouts/AuthLayout.astro'
---
<AuthLayout>
  <div class="h-screen min-h-screen max-h-screen bg-gray-200 flex justify-center items-center p-4">
  <div class="bg-white  w-full p-4 rounded shadow-2xl text-gray-700 sm:w-96">
    <div class="flex justify-end">
      <img src="https://www.ns-logo.com/wp-content/uploads/2020/07/logo-icon-png-8.png" alt="" class="w-8">
    </div>
    
    <p class="text-center pb-2 text-3xl">Inicio de sesión</p>
    
    
    <form class="my-5" id="loginForm" action="#">
        <div class="pb-5 text-sm text-center">
            <p>You don´t have an account? <a href="#" class="text-blue-500">Register now!</a></p>
        </div>
        
        <div class="pb-5">
            <input type="text" id="emailLabel"class="block w-full p-2 rounded shadow bg-gray-100 focus:ring-2 focus:ring-blue-500 focus:border-transparent focus:outline-none" placeholder="Username or email">
        </div>

        <div class="pb-5">
            <input type="text" id="passLabel"class="block w-full p-2 rounded shadow bg-gray-100 focus:ring-2 focus:ring-blue-500 focus:border-transparent focus:outline-none" placeholder="Password">
        </div>
        
        <div class="pb-5">
            <input type="checkbox">
            <label for="">Remember password</label>
        </div>

        <div class="pb-5 text-right text-sm">
            <a href="#" class="text-blue-500">Forgot your password?</a>
        </div>

        <button type="submit" class="bg-blue-500 p-2 w-full text-white rounded">LogIn</button>
    </form>
    
    <hr>
    
    <div class="mt-8 relative flex justify-around">
      <div class="bg-blue-800 h-12 w-12 flex justify-center items-center rounded-full text-white">
        <i class="fab fa-facebook text-3xl"></i>
      </div>
      <div class="bg-blue-500 h-12 w-12 flex justify-center items-center rounded-full text-white">
        <i class="fab fa-twitter text-3xl"></i>
      </div>
      
       <div class="bg-red-500 h-12 w-12 flex justify-center items-center rounded-full text-white">
        <i class="fab fa-google text-3xl"></i>
      </div>
    </div>
  </div>
</div>

<div class="fixed bottom-0 right-0">
  <button id="switchTheme">
      <i class="fab fa-codepen"></i>s
  </button>
</div>
</AuthLayout>

<script>
    const $loginForm = document.getElementById('loginForm');

    $loginForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const email = document.getElementById('emailLabel').value;
        const password = document.getElementById('passLabel').value;

        console.log(email, password);
    });
</script>